//colors
$primary-color: #ffffff;
$header-color: #ffffff;
$footer-color: #8d0d67;
$border-header-color: #a10f76;
$font-color: #000000;
$footer-font-color: #8EF50C;


//fonts
$font-family: 'Arial, sans-serif';


//lengths
$length-header-footer: 3rem;
