//colors
$primary-color: #ffffff;
$header-color: #ffffff;
$footer-color: #5e1169;
$border-header-color: #5e1169;
$font-color: #000000;
$footer-font-color: #8EF50C;
$menu-color-font: #000000;
$menu-color-font-hover: #ffffff;
$menu-color-hover-underline: #5f116979;
$menu-color-hover-background: #5f1169;
$introduction-background-color: #ffffff;
$introduction-font-color: #000000;
$projects-background-color: #312133;
$project-font-color: #ffffff;
$project-background-color: linear-gradient(45deg, #312133, #6a3970bd); 
$border-img-color: #000000;
$border-img-color-hover: #90279e;
$technologies-background-color: #4D3A50;
$technologies-font-color: #ffffff;
$contact-background-color: #514652;
$contact-font-color: #ffffff;

$project-view-color-font-hover: #ffffff;
$project-view-color-hover-underline: #de5052da;


//fonts
$font-family: 'Arial, sans-serif';
$logo-font: 'papyrus';


//lengths
$length-header-footer: 8rem;
