//colors
$primary-color: #ffffff;
$header-color: #ffffff;
$footer-color: #5e1169;
$border-header-color: #5e1169;
$font-color: #000000;
$footer-font-color: #8EF50C;
$menu-color-font: #000000;
$menu-color-font-hover: #801515;
$menu-color-hover-underline: #5f116979;
$menu-color-hover-background: #5f1169;
$introduction-background-color: #ffffff;
$introduction-font-color: #000000;
$project-background-color: #312133;
$project-font-color: #ffffff;
$border-img-color: #000000;
$border-img-color-hover: #90279e;
//fonts
$font-family: 'Arial, sans-serif';
$logo-font: 'papyrus';


//lengths
$length-header-footer: 8rem;
