html {
  scroll-behavior: smooth; }

body {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000; }

.title {
  display: flex;
  height: 100%;
  width: 100%;
  color: #ffffff; }

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large; }

.right {
  justify-content: right;
  align-items: right;
  text-align: right;
  margin-right: 8rem; }

.left {
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-left: 2rem; }

.main {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  border-top: 1rem solid #5e1169;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box; }

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 70%; }

.menu a {
  height: 2.5rem;
  text-decoration: none;
  color: #000000;
  font-size: xx-large;
  margin: 2rem;
  background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
  background-position: 0 89%;
  background-size: 100% 0.5rem;
  background-repeat: no-repeat; }

.menu a:hover {
  color: #ffffff;
  background-color: #5f1169;
  background-image: none;
  animation: menu-animation 0.5s ease-in-out forwards; }

.menu a:visited {
  color: #000000; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: left;
  width: 30%; }

.logo img {
  width: 4rem;
  height: 4rem; }

.logo h1 {
  font-size: xx-large;
  font-family: "papyrus";
  margin-left: 5rem; }

.main-body {
  box-sizing: border-box; }

.introduction {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  color: #000000; }

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; }

.profile-image img:hover {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-color: #90279e;
  border-width: 0.7rem;
  border-style: solid;
  animation-name: profile-image-animation;
  animation-duration: 1s; }

.profile-image img:not(:hover) {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-color: #000000;
  border-width: 0.7rem;
  border-style: solid;
  animation-name: profile-image-animation-unhover;
  animation-duration: 1s; }

.introduction h1 {
  font-size: 3rem;
  margin: 2rem;
  width: 100%;
  text-align: center; }

.projects_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #312133;
  color: #ffffff; }

.project-left {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left; }

.project-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: right; }

.project-image {
  justify-content: left;
  display: flex;
  align-items: center;
  width: calc(40%-8rem);
  height: 100%;
  margin: 4rem;
  margin-top: 0cm; }

.project-image img {
  width: 53rem;
  height: 30rem; }

.project-text {
  width: calc(30%-8rem);
  height: auto;
  font-size: xx-large;
  margin: 4rem;
  margin-top: 0cm; }

.project-text a {
  height: 2.5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin: 2rem;
  background-image: linear-gradient(120deg, #de5052da 0%, #de5052da 100%);
  background-position: 0 89%;
  background-size: 100% 0.5rem;
  background-repeat: no-repeat; }

.project-text a:hover {
  color: #ffffff;
  background-color: #312133;
  background-image: none;
  animation: project-view-animation 0.5s ease-in-out forwards; }

.technologies {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #4D3A50;
  color: #ffffff; }

.technology {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; }

.technologies-text {
  text-align: center;
  font-size: x-large;
  width: 100%; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #514652;
  color: #ffffff; }

.footer {
  display: flex;
  height: 8rem;
  background-color: #5e1169;
  color: #8EF50C;
  text-align: center;
  font-size: x-large;
  justify-content: center;
  align-items: center; }

@keyframes menu-animation {
  from {
    background-color: #ffffff;
    color: #000000;
    background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
    background-position: 0 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat; }
  to {
    background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
    background-position: 100 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat;
    background-color: #5f1169;
    background-position: center top;
    color: white; } }

@keyframes project-view-animation {
  from {
    background-color: #312133;
    color: #ffffff;
    background-image: linear-gradient(120deg, #de5052da 0%, #de5052da 100%);
    background-position: 0 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat; }
  to {
    background-image: linear-gradient(120deg, #de5052da 0%, #de5052da 100%);
    background-position: 100 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat;
    background-color: #de5052da;
    background-position: center top;
    color: white; } }

@keyframes profile-image-animation {
  from {
    border-color: #000000; }
  to {
    border-color: #90279e; } }

@keyframes profile-image-animation-unhover {
  from {
    border-color: #90279e; }
  to {
    border-color: #000000; } }

/*# sourceMappingURL=index.css.map */