html {
  scroll-behavior: smooth; }

body {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000; }

.title {
  display: flex;
  height: 100%;
  width: 100%;
  color: #ffffff; }

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large; }

.right {
  justify-content: right;
  align-items: right;
  text-align: right;
  margin-right: 8rem; }

.left {
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-left: 2rem; }

.main {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  border-top: 1rem solid #5e1169;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box; }

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 70%; }
  .menu button {
    height: 2.5rem;
    text-decoration: none;
    color: #000000;
    font-size: xx-large;
    margin: 2rem; }

.menu a {
  height: 2.5rem;
  text-decoration: none;
  color: #000000;
  font-size: xx-large;
  margin: 2rem;
  background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
  background-position: 0 89%;
  background-size: 100% 0.5rem;
  background-repeat: no-repeat; }

.menu a:hover {
  color: #ffffff;
  background-color: #5f1169;
  background-image: none;
  animation: menu-animation 0.5s ease-in-out forwards; }

.menu a:visited {
  color: #000000; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: left;
  width: 30%; }

.logo img {
  width: 4rem;
  height: 4rem; }

.logo h1 {
  font-size: xx-large;
  font-family: "papyrus";
  margin-left: 5rem; }

.main-body {
  min-height: 45rem;
  box-sizing: border-box; }

.introduction {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  color: #000000; }

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; }

.profile-image img:hover {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-color: #90279e;
  border-width: 0.7rem;
  border-style: solid;
  animation-name: profile-image-animation;
  animation-duration: 1s; }

.profile-image img:not(:hover) {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-color: #000000;
  border-width: 0.7rem;
  border-style: solid;
  animation-name: profile-image-animation-unhover;
  animation-duration: 1s; }

.introduction h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center; }

.projects_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #312133;
  color: #ffffff; }

.projects {
  display: flex;
  flex-direction: row; }

.project {
  position: relative;
  width: 480px;
  height: 600px;
  background: linear-gradient(45deg, #312133, #6a3970bd);
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  margin: 1rem;
  border: #111111bb solid 5px; }

.project::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out; }

.project:hover:before {
  clip-path: circle(300px at 80% -20%); }

.project:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04); }

.project-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: .7s; }

.project:hover .project-image {
  top: 0%;
  transform: translateY(-25%);
  width: 0%;
  height: 0%;
  /* bug  */ }

.project-image img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; }

.project:hover .project-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  visibility: hidden; }

.project-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: 1s;
  z-index: 90; }

.project:hover .project-text {
  height: 500px; }

.project-text a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s; }

.project:hover .project-text a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .7s; }

.project .project-text .project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .5s;
  opacity: 0;
  visibility: hidden; }

.project:hover .project-text .project-description {
  opacity: 1;
  visibility: visible;
  transition-delay: .5s; }

.project .project-text p {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-right: 10px; }

.project .project-text h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff; }

.project:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: .5s; }

.technologies {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #4D3A50;
  color: #ffffff; }

.technology-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: center; }

.technology-item {
  -ms-flex-preferred-size: calc(50% - 58px);
  flex-basis: calc(50% - 58px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px; }

.technology-item_box {
  display: block;
  padding: 30px 20px;
  background-color: #5e3564;
  overflow: hidden;
  position: relative; }

.technology-title {
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative; }

.technology-text {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative; }

.technology-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.technology-item:nth-child(5n+1) .technology-item_bg {
  background-color: #F72C07; }

.technology-item:nth-child(5n+2) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+3) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+4) .technology-item_bg {
  background-color: #F707A9; }

.technology-item:nth-child(5n+5) .technology-item_bg {
  background-color: #F707A9; }

.technology-item:nth-child(5n+6) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+7) .technology-item_bg {
  background-color: #8507F7; }

.technology-item:nth-child(5n+8) .technology-item_bg {
  background-color: #8507F7; }

.technology-item:nth-child(5n+9) .technology-item_bg {
  background-color: #F72C07; }

.technology-item:nth-child(5n+10) .technology-item_bg {
  background-color: #8507F7; }

.technology-item:nth-child(5n+11) .technology-item_bg {
  background-color: #F72C07; }

.technology-item:nth-child(5n+12) .technology-item_bg {
  background-color: #8507F7; }

.technology-item:nth-child(5n+13) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+14) .technology-item_bg {
  background-color: #F70719; }

.technology-item:nth-child(5n+15) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+16) .technology-item_bg {
  background-color: #F70719; }

.technology-item:nth-child(5n+17) .technology-item_bg {
  background-color: #F75AC4; }

.technology-item:nth-child(5n+18) .technology-item_bg {
  background-color: #F70719; }

.technology-item:nth-child(5n+19) .technology-item_bg {
  background-color: #F70719; }

.technology-item:nth-child(5n+20) .technology-item_bg {
  background-color: #F70719; }

@media only screen and (max-width: 979px) {
  .technology-item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px); }
  .technology-title {
    font-size: 24px; } }

@media only screen and (max-width: 767px) {
  .technologies {
    width: 96%; } }

@media only screen and (max-width: 639px) {
  .technology-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .technology-title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px; }
  .technology-item_box {
    padding: 22px 40px; }
  .technology-text {
    font-size: 16px; } }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #514652;
  color: #ffffff; }

.contact-box {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.contact-box h2 {
  color: #ffffff;
  font-size: xx-large; }

.contact-box ul {
  list-style: none; }

.contact-box ul li {
  margin-bottom: 10px; }

.contact-box a {
  text-decoration: none;
  color: #ffffff; }

.footer {
  display: flex;
  height: 8rem;
  background-color: #5e1169;
  color: #8EF50C;
  text-align: center;
  font-size: x-large;
  justify-content: center;
  align-items: center; }

@keyframes menu-animation {
  from {
    background-color: #ffffff;
    color: #000000;
    background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
    background-position: 0 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat; }
  to {
    background-image: linear-gradient(120deg, #5f116979 0%, #5f116979 100%);
    background-position: 100 89%;
    background-size: 100% 0.5rem;
    background-repeat: no-repeat;
    background-color: #5f1169;
    background-position: center top;
    color: white; } }

@keyframes profile-image-animation {
  from {
    border-color: #000000; }
  to {
    border-color: #90279e; } }

@keyframes profile-image-animation-unhover {
  from {
    border-color: #90279e; }
  to {
    border-color: #000000; } }

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 1rem 0; }
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0; }
  .menu a {
    font-size: large;
    margin: 1rem 0; }
  .logo {
    width: 100%;
    justify-content: center; }
  .logo h1 {
    margin-left: 0;
    font-size: x-large; }
  .introduction {
    margin: 0; }
  .introduction h1 {
    margin: 0;
    font-size: large; }
  .profile-image img {
    width: 10rem;
    height: 10rem; }
  .projects {
    display: flex;
    flex-direction: column; }
  .project {
    width: 240px;
    height: 900px; }
  .project-image img {
    width: 200px; }
  .project:hover .project-text {
    height: 800px; } }

/*# sourceMappingURL=index.css.map */